<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAosAbYaPIxEAnPa2P8xZ8TWOh5j3degKE</string>
	<key>GCM_SENDER_ID</key>
	<string>702324940608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onSpotMechanic</string>
	<key>PROJECT_ID</key>
	<string>on-spot-mechanic-3f5ac</string>
	<key>STORAGE_BUCKET</key>
	<string>on-spot-mechanic-3f5ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702324940608:ios:b1c9992ef7ae134ce564a5</string>
</dict>
</plist>